.contact-container {
  min-height: 70vh;
  background: #020617;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 50px;
}

.contact-content {
  max-width: 700px;
  color: white;
}

.contact-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.contact-content p {
  color: #94a3b8;
  line-height: 1.8;
  margin-bottom: 30px;
}

.whatsapp-btn {
  background: #25d366;
  color: white;

  border: none;
  padding: 16px 32px;

  border-radius: 12px;

  font-size: 18px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;
}

.whatsapp-btn:hover {
  transform: translateY(-4px);
}