html {
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1300px;

  z-index: 1000;

  backdrop-filter: blur(20px);
  background: rgba(15, 23, 42, 0.7);

  border: 1px solid rgba(255,255,255,0.1);

  border-radius: 20px;
}

.nav-container {
  height: 75px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 30px;
}

.logo {
  color: white;
  font-size: 28px;
  font-weight: 800;
  cursor: pointer;
}

.logo span {
  color: #38bdf8;
}

.nav-links {
  display: flex;
  gap: 35px;
  list-style: none;
}

.nav-links li {
  color: #cbd5e1;
  cursor: pointer;
  transition: 0.3s;
}

.nav-links li:hover {
  color: #38bdf8;
}

.hire-btn {
  padding: 12px 24px;

  border: none;
  border-radius: 12px;

  background: #38bdf8;
  color: white;

  cursor: pointer;
  font-weight: 600;
}

.menu-btn {
  display: none;
  color: white;
  cursor: pointer;
}

.mobile-menu {
  display: none;
}

@media (max-width: 768px) {

  .nav-links,
  .hire-btn {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;

    gap: 20px;

    padding: 25px;

    color: white;

    background: rgba(15,23,42,0.95);

    border-radius: 0 0 20px 20px;
  }

  .mobile-menu div {
    cursor: pointer;
  }
}